
.main-container {
    margin: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

input {
    width: 256px;
    padding: 6px;
    margin: 4px;
}

span {
    color: red;
}